body {
  --color-menu-dark-bg: #a0cea8;
  --color-menu-color: #000000;
  // --color-select-color: #7e5f7826;
  --color-select-color: #ffffffb8;

  
  // --primary-6: red;

  // --color-menu-dark-hover: #e95f1f;


  .arco-menu-dark {

    .arco-menu-item,
    .arco-menu-group-title,
    .arco-menu-pop-header,
    .arco-menu-inline-header {
      color: var(--color-menu-color);

      * {
        color: var(--color-menu-color);
      }
    }

    .arco-menu-inline-header.arco-menu-selected {
      color: var(--color-menu-color);

      * {
        color: var(--color-menu-color);

      }


    }

    .arco-menu-inline-header:hover {
      color: var(--color-menu-color);
      background-color: var(--color-select-color);


      * {
        color: var(--color-menu-color);

      }
    }

    .arco-menu-item:hover {
      background-color: var(--color-select-color);
      color: var(--color-menu-color);
      // border-right: 2px solid var(--color-menu-color);
    }

    .arco-menu-item.arco-menu-selected {
      background-color: var(--color-select-color);

    }

    .arco-menu-vertical {
      .arco-menu-inline-header {
        line-height: 46px;
      }
    }
  }
}